# Executables
binary_search
poly_add
circular_queue
dll_insertion
queue
deque
linear_search
singly_linked_list
sparse_matrix
insertion_sort
bubble_sort
merge_sort
stack
infix_to_postfix
quick_sort
heap_sort
*.out
*.o
*.exe

# IDE / Editor settings
.vscode/

# OS metadata
.DS_Store
Thumbs.db
